$body-bg: green;
body{
  .inner-block{
    margin: 10px 0;
  }
  .card{
    margin: 0 auto;
  }
  .card-title{
    text-transform: uppercase;
  }
  .card-text-city,
  .card-text-state{
    text-transform: uppercase;
  }
}